aside{
    position: fixed;
    width: 100%;
    bottom: 46px;
    display: flex;
    height: 50px;

    background-color: #ebffdf;
    border: solid #000 2px;
    border-bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    z-index: 10;

}

.precio-final{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.precio-texto {
    display: flex;
    gap: 10px; /* espacio entre Total y $1000 */
    align-items: center;
}

.items__precio-final{
    font-size: 20px;
}

.precio-final button{
    padding: 5px;
    background: #b83232;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


