
.bottom-bar{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    height: 46px;
    
    display: flex;
    background-color: #ebffdf;
    border: 1px solid black;
    border-right: 0px;

    z-index: 100;
}


.icons__container{
    flex: 4;
    align-self: center;
    width: 100%;
    padding: 10px;
    /*flex-container*/
    display: flex;
    justify-content: space-evenly;
}
.cart__container{
    height: 46px;
    flex: 1;
    align-self: center;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #62ab37;
}

.cart__container a{
    font-size: 25px;
    padding: 20px;
}

.icons__container a{
    font-size: 25px;
}